@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.nav-bar{
    width: 100%;
    height: 7vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    min-height: inherit;
    align-items: center;
    background-color: white;
    z-index: 10;
}

.web-name-icon{
    margin-left: 10px;
    width: fit-content;
    height: fit-content;
    font-size: 17px;
    border-bottom: 2px solid orangered;
    border-top: 2px solid orangered;
}

.web-name-icon span:nth-child(3){
    color: orangered;
    font-family: serif;
}

.nav-links{
    width: fit-content;
    height: fit-content;
}

.nav-links ul{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
}

.nav-links ul li{
    margin-right: 20px;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 450;
}

.nav-links ul li a{
    text-decoration: none;
    color: black;
}

.wrap{
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    min-height: inherit;
    align-items: center;
    background-color: white;
    position: absolute;
    bottom: 0;
}

.wrap .container{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: inherit;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.songtitle{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    min-height: inherit;
    align-items: center;
}

.artistname{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    min-height: inherit;
    align-items: center;
}

.uploadsong{
    width: 40%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: inherit;
    align-items: center;
}   

.select-song-storage{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    min-height: inherit;
    align-items: center;
    margin-top: 20px;
}

.submit-btn{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    min-height: inherit;
    align-items: center;
}

input[type="text"]{
    width: 220px;
    height: 30px;
    padding: 0px 5px 0px 5px;
    outline: none;
    border: 2px solid black;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

#songfile{
    margin: 40px 0px 20px 50px;
}

select{
    width: 220px;
    height: 30px;
    outline: none;
}

button{
    width: 120px;
    height: 25px;
    background-color: white;
    font-family: "Poppins", sans-serif;
    outline: none;
    border-radius: 5px;
    border: 2px solid orangered;
}

