@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.nav-bar{
    width: 100%;
    height: 7vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    min-height: inherit;
    align-items: center;
    background-color: white;
    z-index: 10;
}

.web-name-icon{
    margin-left: 10px;
    width: fit-content;
    height: fit-content;
    font-size: 17px;
    border-bottom: 2px solid orangered;
    border-top: 2px solid orangered;
}

.web-name-icon span:nth-child(3){
    color: orangered;
    font-family: serif;
}

.nav-links{
    width: fit-content;
    height: fit-content;
}

.nav-links ul{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
}

.nav-links ul li{
    margin-right: 20px;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 450;
}

.nav-links ul li a{
    text-decoration: none;
    color: black;
}

.wrap{
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    min-height: inherit;
    align-items: center;
    background-color: white;
    position: absolute;
    bottom: 0;
}

.wrap .container{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    min-height: inherit;
    align-items: center;
    background-color: white;
}

.container .welcome-sonix{
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.welcome-sonix span:nth-child(1){
    font-size: 48px;
    font-weight: 500;
}

.welcome-sonix .sonix-info{
    font-size: 22px;
    font-weight: 400;
}

.room-details-input-field{
    width: fit-content;
    height: fit-content;
    margin-top: 40px;
}

.room-details-input-field input{
    width: 230px;
    height: 32px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    background-color: rgba(239, 238, 238, 0.742);
    color: orangered;
}

.join-sync-room{
    width: fit-content;
    height: fit-content;
}

.join-sync-room .join{
    width: 50px;
    height: 32px;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid orangered;
}

.create-sync-room{
    margin-top: 40px;
    width: fit-content;
    height: fit-content;
}

.create-sync-room .create-txt{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.create-sync-room .create{
    width: 80px;
    height: 32px;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: orangered;
    color: white;
}

@media (min-width: 320px) and (max-width: 375px){
    .web-name-icon{
        font-size: 14px;
        margin-left: 6px;
    }

    .nav-links ul li{
        margin-right: 14px;
        font-size: 13px;
    }

    .wrap .container{
        width: 100%;
        height: 100%;

    }

    .container .welcome-sonix{
        margin-top: 60px;
    }

    .welcome-sonix span:nth-child(1){
        font-size: 34px;
    }

    .welcome-sonix .sonix-info{
        font-size: 17px;
    }

    .room-details-input-field{
        margin-top: 90px;
    }

    .room-details-input-field input{
        width: 170px;
        height: 28px;
        padding-left: 7px;
        font-size: 12px;
    }

    .join-sync-room .join{
        width: 42px;
        height: 28px;
        font-size: 14px;
    }

    .create-sync-room{
        margin-top: 20px;
    }

    .create-sync-room .create-txt{
        font-size: 18px;
    }

    .create-sync-room .create{
        width: 70px;
        height: 28px;
        font-size: 14px;
    }
}

@media (min-width: 375px) and (max-width: 768px){
    .web-name-icon{
        font-size: 16px;
        margin-left: 10px;
    }

    .nav-links ul li{
        margin-right: 15px;
        font-size: 14px;
    }

    .wrap .container{
        width: 100%;
        height: 100%;

    }

    .container .welcome-sonix{
        margin-top: 60px;
    }

    .welcome-sonix span:nth-child(1){
        font-size: 34px;
    }

    .welcome-sonix .sonix-info{
        font-size: 17px;
    }

    .room-details-input-field{
        margin-top: 90px;
    }

    .room-details-input-field input{
        width: 190px;
        height: 30px;
        padding-left: 7px;
        font-size: 12px;
    }

    .join-sync-room .join{
        width: 42px;
        height: 30px;
        font-size: 14px;
    }

    .create-sync-room{
        margin-top: 20px;
    }

    .create-sync-room .create-txt{
        font-size: 18px;
    }

    .create-sync-room .create{
        width: 70px;
        height: 30px;
        font-size: 14px;
    }
}