@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.nav-bar{
    width: 100%;
    height: 7vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    min-height: inherit;
    align-items: center;
    background-color: white;
    z-index: 10;
}

.web-name-icon{
    margin-left: 10px;
    width: fit-content;
    height: fit-content;
    font-size: 17px;
    border-bottom: 2px solid orangered;
    border-top: 2px solid orangered;
}

.web-name-icon span:nth-child(3){
    color: orangered;
    font-family: serif;
}

.nav-links{
    width: fit-content;
    height: fit-content;
}

.nav-links ul{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
}

.nav-links ul li{
    margin-right: 20px;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 450;
}

.nav-links ul li a{
    text-decoration: none;
    color: black;
}

.wrap{
    width: 100%;
    height: 93vh;
    display: flex;
    background-color: white;
    position: absolute;
    bottom: 0;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: inherit;
    align-items: center;
}

.container .playlist-with-search{
    width: 95%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    min-height: inherit;
    align-items: center;
}

.container .playlist-with-search h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.playlist-with-search .search-with-create-playlist{
    width: 15%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.search-with-create-playlist button{
    width: 30px;
    height: 30px;
    font-size: 16px;
    background-color: whitesmoke;
    outline: none;
    border: none;
    border-radius: 5px;
}

.search-with-create-playlist input{
    padding: 0px 5px 0px 5px;
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: 1px solid orangered;
}

.playlist-card{
    width: 80%;
    height: 80%;
    margin-top: 50px;
}

.playlist-card ul{
    width: 97%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.playlist-card ul::-webkit-scrollbar{
    display: none;
}

.playlist-card li{
    width: 97%;
    height: fit-content;
    display: flex;
    min-height: inherit;
    align-items: center;
    padding:  10px;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
}

.playlist-card li .playlist-detail{
    margin-left: 10px;
}

.playlist-name{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.total-track{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    margin-top: -7px;
}