<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonix-Library</title>
    <link rel="stylesheet" href="../statics/css/playlist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"/>
</head>
<body>
    <div class="nav-bar">
        <div class="web-name-icon">
            <span>S</span>
            <span>O</span>
            <span>N</span>
            <span>I</span>
            <span>X</span>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Library</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </div>
    </div>
    <div class="wrap">
        <div class="container">
            <div class="playlist-with-search">
                <h1>Playlist</h1>
                <div class="search-with-create-playlist">
                    <button id="create-playlist" class="create-playlist"><i class="fa-solid fa-plus"></i></button>
                    <input type="text" name="search" id="search" class="search" placeholder="search">
                </div>
            </div>
            <div class="playlist-card">
                <ul>
                    <li>
                        <div class="default-image" style="margin-top:7px;"><img src="../data/images/playlist icon.jpg" alt="playlist image" width="50px" height="50px"></div>
                        <div class="playlist-detail">
                            <div class="playlist-name">Romantic</div>
                            <div class="total-track">28 Songs</div>
                        </div>
                    </li>
                    <li>
                        <div class="default-image" style="margin-top:7px;"><img src="../data/images/playlist icon.jpg" alt="playlist image" width="50px" height="50px"></div>
                        <div class="playlist-detail">
                            <div class="playlist-name">Romantic</div>
                            <div class="total-track">28 Songs</div>
                        </div>
                    </li>
                    <li>
                        <div class="default-image" style="margin-top:7px;"><img src="../data/images/playlist icon.jpg" alt="playlist image" width="50px" height="50px"></div>
                        <div class="playlist-detail">
                            <div class="playlist-name">Romantic</div>
                            <div class="total-track">28 Songs</div>
                        </div>
                    </li>
                    <li>
                        <div class="default-image" style="margin-top:7px;"><img src="../data/images/playlist icon.jpg" alt="playlist image" width="50px" height="50px"></div>
                        <div class="playlist-detail">
                            <div class="playlist-name">Romantic</div>
                            <div class="total-track">28 Songs</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>